{% extends 'layout.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <form method="post" action="/" class="post">
      <fieldset>
        <legend>投稿フォーム</legend>
        <p><label><input type="text" class="form-control" name="name" placeholder="名前"></label></p>
        <textarea class="form-control" name="content" placeholder="コメント内容"></textarea>
        <p><input type="submit" value="投稿する" class="btn btn-primary"></p>
      </fieldset>
    </form>
    <h1>投稿一覧</h1>
    <ul>
      {% for post in posts: %}
        {# datetime, name, content にばらす #}
        {% set datetime, name, content = post.split(',') %}
        {% if expired(datetime) == False: %}
          <li>
            <span class="name nmbg">投稿者: {{ name }}</span>
            <span class="datetime">{{ datetime }}</span>
            <div class="content">{{ content }}</div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}
